<div class="container">
    <h1 class="mt-3">Edit BlogPost</h1>

    <ng-container *ngIf="model">

        <form #addForm="ngForm" (ngSubmit)="onFormSubmit()">
            <div class="mt-2">
                <div class="mt-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" name="title" class="form-control" [(ngModel)]="model.title">
                </div>
                <div class="mt-3">
                    <label for="urlHandle" class="form-label">urlHandle</label>
                    <input type="text" id="urlHandle" name="urlHandle" class="form-control"
                        [(ngModel)]="model.urlHandle">
                </div>
                <div class="mt-3">
                    <label for="shortDescription" class="form-label">shortDescription</label>
                    <input type="text" id="shortDescription" name="shortDescription" class="form-control"
                        [(ngModel)]="model.shortDescription">
                </div>
                <div class="mt-3">
                    <label for="content" class="form-label">content</label>
                    <!-- <textarea type="text" id="content" name="content" class="form-control" 
                    [(ngModel)]="model.content"></textarea> -->
                    <div class="d-flex flex-row">
                        <div class="col-6 p-2">
                            <textarea id="content" name="content" class="form-control"
                                style="height: 350px; max-height: 350px;" [(ngModel)]="model.content"></textarea>
                        </div>
                        <div class="col-6 p-2" style="max-height: 350px; overflow-y: scroll;">
                            <markdown [data]="model.content"></markdown>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <label for="featuredImageUrl" class="form-label">featuredImageUrl
                        <button type="button" class="btn btn-light" (click)="openImageSelector()">Select Image</button>
                    </label>
                    <ng-container *ngIf="model.featuredImageUrl!== ''">
                        <div class="">
                            <img [src]="model.featuredImageUrl" height="100" class="my-2">
                        </div>
                    </ng-container>
                    <input type="text" id="featuredImageUrl" name="featuredImageUrl" class="form-control"
                        [(ngModel)]="model.featuredImageUrl">
                </div>
                <div class="mt-3">
                    <label for="publishedDate" class="form-label">publishedDate</label>
                    <input type="date" id="publishedDate" name="publishedDate" class="form-control"
                        value="{{model.publishedDate}}" [ngModel]="model.publishedDate | date:'yyy-MM-dd'"
                        (ngModelChange)="model.publishedDate=$event">
                </div>
                <div class="mt-3">
                    <label for="author" class="form-label">author</label>
                    <input type="text" id="author" name="author" class="form-control" [(ngModel)]="model.author">
                </div>
                <div class="form-check mt-3">
                    <input type="checkbox" name="isVisible" class="form-check-input" id="isVisible"
                        [(ngModel)]="model.isVisible">
                    <label class="form-check-label" for="isVisible">Is Visible?</label>
                </div>

                <div class="mt-3">
                    <label for="categories" class="form-label">Categories</label>
                    <ng-container *ngIf="categories$ | async as category">
                        <select [(ngModel)]="selectedCategories" name="categories" id="categories" class="form-control"
                            multiple>
                            <option *ngFor="let cat of category" [value]="cat.id"> {{cat.name}} </option>
                        </select>
                    </ng-container>
                </div>

                <div class="mt-3">
                    <button class="btn btn-primary" type="submit">Edit BlogPost</button>
                </div>
                <div class="mt-3 mb-4">
                    <button class="btn btn-danger" (click)="onDelete()">Delete BlogPost</button>
                </div>
            </div>
        </form>
    </ng-container>

</div>
<div class="images-container-model" [ngClass]="{'d-block':isImageSelectorVisible,'d-none':!isImageSelectorVisible}">
    <button type="button" class="btn btn-light" style="position: fixed; top: 50px; right: 50px; z-index: 200;" (click)="closeImageSelector()">X</button>
    <app-image-selector></app-image-selector>
</div>